/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
height: 100%;
}

.stats {
    display: flex;
    flex-direction: row;
}
.stats p {
    width: 50%;
    font-size: 15pt;
}

#save {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.large-image {
    max-width:100%;
    max-height:100%;
    height: auto;
    width: auto;
}

.focus-control {
    display: inline-flex;
    left: 0;
    right:0;
    align-items: center;
    margin-bottom: 1rem;
}
/*
.settings-content #night-mode {
    margin-left: auto;
    margin-right: auto;    
} */


.focus-control .mdc-text-field {
    margin-right: 1rem;
    width: 8rem;
}

html,
body {
  height: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0;
  margin: 0;
  overflow: auto;
}




.pop-up {
    position: absolute;
    width:60%;
    height:70%;
    background-color: white;
    z-index: 10;
    bottom: 0;
    right: 0;
    outline: 1px solid #ccc;
    overflow: hidden;
    display: flex; 
    flex-direction: row;
    border: 1px solid silver;
    border-top-left-radius: 1rem;
}

.pop-up .photo-list {
    flex: 0 0 auto;
    width: 30%;
    background-color: rgba(220, 220, 220, 1);
    height: 100%;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    outline: 1px solid #ccc;
    white-space: nowrap;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}


.pop-up .photo-list .wrapper img {
    /*
    margin: 1rem;
    object-fit: cover;
    width: 10rem; */
    max-width:100%;
    max-height:100%;
    height: auto;
    width: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.wrapper:focus {
    background-color: darkgrey;
}

.pop-up .details {
    flex: 1 1 auto;
    min-height: 200px;
    min-width: 200px;
    width: 100%;
    padding: 1rem;
}

.splitter {
    flex: 0 0 auto;
    width: 18px;  
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;  
}


.cog-background {

    width: 3rem;
    height: 3rem;
    border-radius: 24px;
    background-color: rgba(160, 160, 160, 0.5);
    text-align:center;
    position: relative;
    cursor: pointer;
    padding: 0;
    transition: all .2s ease-in-out;
    

}



.cog-background i {
    z-index: 15;
    margin: 0;
    position: absolute;
    /*
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)    
    */
    bottom: 8px;
    left: 8px;
}

.rotate {
    transform: rotate(360deg);
    transition: all 1s ease-in;
  }


.expand {
    width: 25rem;
    height: 10rem;
    padding: 2rem;
}

label {
    margin-left: 1rem;
}

.mdc-text-field {
    margin-top: 1rem;
}

.settings {
    z-index: 10;
    bottom: 2rem;
    left: 2rem;
    position: absolute;

}

.settings-content {
    position: absolute;
    height: 20rem;
    width: 21rem;
    /*background-color: darkgrey; */
    display: block;
}

.collpasible {
    cursor: pointer;
    
}

/* Optional: Makes the sample page fill the window. */
html, body {
height: 100%;
margin: 0;
padding: 0;
font-family: 'Source Sans Pro', sans-serif;

overflow: hidden;

}